/* Styles for page */
#bond-table-page-container {
  height: 100vh;
  padding-top: 50px;
}

#bond-table-header h2 {
  color: white;
  text-align: center;
  margin-bottom: -10px;
}

#bond-table-header p {
  color: white;
  text-align: center;
}

/* Table styles */
#bond-table-container {
  margin-left: 78px;
  height: 80vh;
  width: 95%;
  overflow-y: auto;
}

#emisor-column p {
  color: rgb(33, 42, 63);
  display: inline;
}

/* Currency Filter Styles */
.bondsTable-currencyColumn {
  position: relative;
}

.bondsTable-dropdownFilter {
  position: absolute;
  background-color: rgb(33, 42, 63);
  width: 100%;
  top: 100%;
  transform: translateX(-18%);
  display: none;
}

#bondsTable-sectorFilter {
  width: 200%;
  transform: translateX(-30%);
}

#bondsTable-valorFilter {
  width: 350%;
  transform: translateX(-30%);
}

.bondsTable-dropdownFilter div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bondsTable-dropdownFilter div:hover {
  background-color: rgb(41, 49, 67);
  cursor: pointer;
}

/* make dropdown appear when MONEDA is hovered */
.bondsTable-currencyColumn:hover .bondsTable-dropdownFilter {
  display: block;
}

/* adjustments for tablets */
@media (max-width: 925px) {
  #bond-table-container {
    margin-left: 0px;
    width: 100%;
  }
}

/* adjustments for phones */
@media screen and (max-width: 500px) {
  #bond-table-container {
    margin-left: 0px;
    width: 100%;
    overflow-x: hidden;
  }

  #bond-table-container table {
    width: 100%; /* Ensures the table takes full width */
    table-layout: fixed; /* Fixes column widths to the table width */
  }

  #bond-table-container table th,
  #bond-table-container table td {
    font-size: 3vw;
    white-space: normal;
  }

  .hide-for-phones {
    display: none;
  }
  #bond-table-header-text {
    font-size: 12px;
  }
}
