/* FooterComponent.css */

.footer {
  background-color: #1b3561;
  color: #ffffff;
  font-family: Menlo, monospace;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 150px;
}

.footer:hover {
  background-color: #2e4d73; /* The color you originally had */
}

.footerText {
  font-size: 18px;
  font-weight: bold;
  margin: 30px;
  position: relative;
  color: white;
}

/* Add this new rule for the cross-out line */
.footerText::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0;
  top: 120%;
  border-top: 2px solid white; /* This creates the thin white line */
  transform: rotate(0deg); /* This tilts the line slightly */
}

.footerLinksContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footerLink {
  margin: 0 15px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}

.footerLink:hover {
  color: #ffd700;
  transform: translateY(-10px);
  background-color: #ffd700;
}

@media (max-width: 500px) {
  .footerText {
    font-size: 16px;
    margin: 20px;
  }
}
