body,
html {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Container Styles */
.fund-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: rgba(18, 24, 38);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Fund logo Styles */
.fundPage-fund-header__logo {
  height: 10vh;
  border: 1px solid gray;
  border-radius: 150px;
  margin-right: 10px;
}

/* Fund Header Styles */
.fund-header {
  color: white;
  padding: 1rem;
  padding-bottom: 0;
  margin-top: 2.1rem;
  display: flex;
}

.fund-header__title {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 2rem;
}

.fund-header__type {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-top: 0rem;
  color: rgb(182, 182, 182);
}

/* Subtitles */
.fund-page__subheading {
  color: white;
  text-align: left;
  margin-bottom: 1%;
  text-align: left;
}

/* Fund General Data DIV  */
.fundData-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Fund Info Section */
.fund-info {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.info-item {
  background-color: rgba(30, 36, 50);
  width: 25%;
  padding: 1.75rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(22, 156, 239, 0.1);
}

.info-item__title {
  margin-top: 0;
  color: #4a69bd;
  font-size: 1.2rem;
  font-weight: 600;
}

.info-item__subtitle {
  color: #4a69bd;
  margin-top: -20px;
}

.info-item__value {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  color: white;
}

/* styles stat item */
.stat-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #0311d61a;
}

/* Stats Section*/
.fund-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 25px;
  width: 100%;
}

.stat-item {
  background-color: RGB(30, 36, 50);
  padding: 1.75rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.stat-item__title {
  margin-top: 0;
  color: #4a69bd;
  font-size: 1.2rem;
  font-weight: 600;
}

.stat-item__value {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  color: white;
}

/* Fund Indicators Section */
.fund-indicators {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

/* Yearly Returns Table */
.fund-performance {
  background-color: RGB(30, 36, 50);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 2.5rem;
  width: 95%;
}

.fund-performance__title {
  margin-top: 0;
  color: #4a69bd;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.fund-yearly-returns {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  font-family: "Roboto", sans-serif;
}

.fund-yearly-returns__header {
  background-color: #2e437c;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.fund-yearly-returns__cell {
  padding: 1rem;
  text-align: center;
  color: white;
}

.fund-yearly-returns__row {
  background-color: rgb(70, 78, 96);
  transition: transform 0.2s ease;
}

.fund-yearly-returns__row:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buy BUTTON CSS */
.buyButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.buyFundButton {
  background-color: #2e437c;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  height: 80px;
  width: 250px;
  cursor: pointer;
  font-size: 1.8em;
  font-family: Menlo, monospace;
}

.buyFundButton:hover {
  background-color: #394e8a;
}

/* COMPOUND RETURNS CONTAINER */
.compound-returns {
  width: 95%;
  background-color: rgb(30, 36, 50);
  padding: 2.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}

/* Compound Returns HEADING CONTAINER styles */
#retornoAcumulado-Graph-Heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  width: 70%;
  margin-top: -20px;
}

/* H2 styles */
#retornoAcumulado-Graph-Heading h2 {
  color: #4a69bd;
  font-size: 1.8em;
  margin: 0 0 20px 0;
  width: 100%;
}

/* Wrapper for label and p */
#retornoAcumulado-Graph-Heading .content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 30px;
}

#retornoAcumulado-Graph-Heading span {
  font-size: 1.3em;
  margin-right: 10px;
}

/* Label styles */
#retornoAcumulado-Graph-Heading label[for="investment-input"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

/* Input styles */
#investment-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 8px 10px;
  color: white;
  font-size: 1em;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 120px;
  padding-bottom: 1px;
  margin-top: -6px;
}

#investment-input:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

#investment-input:focus {
  background-color: rgba(22, 156, 239, 0.15);
  border-bottom-color: rgb(22, 156, 239);
  box-shadow: 0 4px 8px rgba(22, 156, 239, 0.2);
}

/* Paragraph styles */
#retornoAcumulado-Graph-Heading p {
  color: white;
  font-size: 1em;
  margin: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

/* Remove spinner buttons for WebKit browsers */
#investment-input::-webkit-outer-spin-button,
#investment-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner buttons for Firefox */
#investment-input[type="number"] {
  -moz-appearance: textfield;
}

/* Media Queries for Tablets */
@media screen and (max-width: 1100px) {
  /* Fund Page Header Adjustments*/
  .fund-header__title {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }

  .fund-header__type {
    font-size: 0.9rem;
    margin-top: 0rem;
  }

  .fundPage-fund-header__logo {
    height: 10vh;
  }

  .fund-page__subheading {
    font-size: 1.1rem;
  }

  /* FUND INFO CARDS */
  .info-item {
    padding: 1.2rem;
  }

  .info-item__title {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .info-item__subtitle {
    margin-top: -15px;
    font-size: 0.8rem;
  }

  .info-item__value {
    font-size: 0.95rem;
    font-weight: 700;
    margin-top: 0.5rem;
    color: white;
  }

  .fund-stats {
    margin-top: -20px;
  }

  .stat-item__title {
    font-size: 0.9rem;
  }

  .stat-item__value {
    font-size: 0.95rem;
  }

  /* Retornos Anuales Table */
  .fund-performance {
    width: 90%;
  }

  .fund-performance__title {
    font-size: 1.4rem;
  }

  .fund-yearly-returns {
    font-size: 0.9rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.8rem;
  }

  /* Compound returns graph section */
  .compound-returns {
    width: 90%;
  }

  #retornoAcumulado-Graph-Heading .content-wrapper {
    font-size: 0.9rem;
  }
}

/* Media Queries Small tablets */
@media screen and (max-width: 768px) {
  /* Fund Page Header Adjustments*/
  .fund-header {
    margin-top: 1.5rem;
  }

  .fund-header__title {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }

  .fund-header__type {
    font-size: 0.7rem;
  }

  .fundPage-fund-header__logo {
    height: 8vh;
  }

  .fund-page__subheading {
    font-size: 0.9rem;
  }

  /* FUND INFO CARDS */
  .fund-info {
    gap: 0.5rem;
  }
  .info-item {
    padding: 0.8rem;
  }

  .info-item__title {
    font-size: 0.6rem;
    font-weight: 600;
  }

  .info-item__subtitle {
    margin-top: -8px;
    font-size: 0.6rem;
  }

  .info-item__value {
    font-size: 0.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    color: white;
  }

  /* Indicadores de Retorno */
  #fundPage-fundIndicators-container {
    margin-top: -15px;
  }

  .fund-indicators {
    gap: 0.5rem;
  }

  /* Fund Stats Section */
  .fund-stats {
    margin-top: -30px;
    gap: 0.5rem;
  }

  .stat-item {
    padding: 0.8rem;
  }

  .stat-item__title {
    font-size: 0.7rem;
  }

  .stat-item__value {
    font-size: 0.7rem;
  }

  /* Retornos Anuales Table */
  .fund-performance {
    width: 86%;
  }

  .fund-performance h2 {
    margin-bottom: 6px;
  }

  .fund-yearly-returns {
    font-size: 0.7rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.6rem;
  }

  /* Compound Returns Graph */
  .compound-returns {
    width: 86%;
  }

  #retornoAcumulado-Graph-Heading {
    padding: 5px 0px 3px 5px;
    width: 95%;
  }

  #retornoAcumulado-Graph-Heading h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  #retornoAcumulado-Graph-Heading .content-wrapper {
    gap: 15px;
    font-size: 0.6rem;
    margin-bottom: 10px;
  }

  #investment-input {
    width: 100%;
  }
}

/* Media Queries Phones */
@media (max-width: 600px) {
  /* Fund Page Header Adjustments */
  .fund-header {
    margin-top: 1rem;
  }

  .fund-header__title {
    font-size: 1.2rem;
    margin-top: 0.1rem;
  }

  .fund-header__type {
    font-size: 0.6rem;
    margin-top: 0.1rem;
  }

  .fundPage-fund-header__logo {
    height: 8vh;
    margin-bottom: 0.5rem;
  }

  .fund-page__subheading {
    font-size: 0.9rem;
    text-align: center;
  }

  /* FUND INFO CARDS */

  .fundData-container {
    width: 110%;
  }

  .fund-info,
  .fund-stats,
  .fund-indicators {
    flex-direction: column;
    gap: 0.4rem;
  }

  .fund-stats {
    margin-top: -33px;
  }

  .info-item,
  .stat-item {
    width: 96%;
    padding: 0.7rem;
    display: flex;
    align-items: end;
  }

  .info-item__title,
  .stat-item__title {
    font-size: 0.8rem;
  }

  .info-item__subtitle {
    font-size: 0.6rem;
    margin-top: 0.1rem;
  }

  .info-item__value,
  .stat-item__value {
    font-size: 0.8rem;
    text-align: left;
    margin-left: 1rem;
    flex: 1;
  }

  /* Fund Return Indicators Section */

  .fund-indicators .info-item {
    flex-direction: row;
    align-items: center;
  }

  .fund-indicators .info-item__title {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .fund-indicators .info-item__subtitle {
    font-size: 0.6rem;
    margin-left: 0.2rem;
  }

  .fund-indicators .info-item__value {
    font-size: 0.9rem;
    align-self: flex-start;
  }

  /* Retornos Anuales Table */
  .fund-performance {
    width: 100%;
    padding: 1.5rem;
  }

  .fund-performance h2 {
    margin-bottom: 4px;
  }

  .fund-yearly-returns {
    font-size: 0.6rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.5rem;
  }

  /* Compound Returns Graph */
  .compound-returns {
    width: 100%;
    padding: 1.5rem;
  }

  #retornoAcumulado-Graph-Heading {
    padding: 20px 0px 3px 10px;
    width: 95%;
  }

  #retornoAcumulado-Graph-Heading h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  #retornoAcumulado-Graph-Heading .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 0.55rem;
  }

  #investment-input {
    width: 80%;
  }
}

/* Media Queries SMALL Phones */
@media (max-width: 450px) {
  /* Fund Page Header Adjustments */
  .fund-header {
    margin-top: 1rem;
  }

  .fund-header__title {
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }

  .fund-header__type {
    font-size: 0.5rem;
    margin-top: 0.2rem;
  }

  .fundPage-fund-header__logo {
    height: 7vh;
    margin-bottom: 0.5rem;
  }

  .fund-page__subheading {
    font-size: 0.9rem;
    text-align: left;
    color: #4a69bd;
  }

  /* FUND INFO CARDS */
  .fundData-container {
    width: 115%;
  }

  .info-item,
  .stat-item {
    width: 99%;
    padding: 0.7rem 0rem 0.4rem 0.4rem;
  }

  .info-item__title,
  .stat-item__title {
    font-size: 0.75rem;
  }

  .info-item__subtitle {
    /* PENDING FIX */
    font-size: 0.6rem;
  }

  .info-item__value,
  .stat-item__value {
    font-size: 0.75rem;
  }

  /* Fund Return Indicators Section */

  .fund-indicators .info-item__title {
    font-size: 0.75rem;
    margin-bottom: 0.6rem;
  }

  .fund-indicators .info-item__subtitle {
    font-size: 0.6rem;
  }

  .fund-indicators .info-item__value {
    font-size: 0.85rem;
    align-self: flex-start;
  }

  /* Retornos Anuales Table */
  .fund-performance {
    padding: 1.5rem;
  }

  .fund-performance h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }

  .fund-yearly-returns {
    font-size: 0.6rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.5rem;
  }

  /* Compound Returns Graph */

  #retornoAcumulado-Graph-Heading {
    padding: 15px 0px 3px 5px;
    width: 95%;
  }

  #retornoAcumulado-Graph-Heading h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  #retornoAcumulado-Graph-Heading .content-wrapper {
    gap: 5px;
    font-size: 0.55rem;
  }

  /* BUY BUTON */
  .buyButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
  }

  .buyFundButton {
    border-radius: 20px;
    height: 60px;
    width: 180px;
    font-size: 1.4em;
  }
}

/* Media Queries VERY SMALL Phones */
@media (max-width: 370px) {
  /* Fund Page Header Adjustments */

  .fund-header__title {
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }

  .fund-header__type {
    font-size: 0.45rem;
  }

  .fundPage-fund-header__logo {
    height: 7vh;
    margin-bottom: 0.3rem;
  }

  .fund-page__subheading {
    font-size: 0.8rem;
  }

  /* FUND INFO CARDS */

  .fundData-container {
    width: 115%;
  }

  .info-item,
  .stat-item {
    width: 96%;
    padding: 0.5rem;
  }

  .info-item__title,
  .stat-item__title {
    font-size: 0.7rem;
  }

  .info-item__value,
  .stat-item__value {
    font-size: 0.65rem;
  }

  /* Fund Return Indicators Section */

  .fund-indicators .info-item__title {
    font-size: 0.7rem;
    margin-bottom: 0.6em;
  }

  .fund-indicators .info-item__subtitle {
    font-size: 0.5rem;
  }

  .fund-indicators .info-item__value {
    font-size: 0.7rem;
  }

  /* Retornos Anuales Table */
  .fund-performance h2 {
    font-size: 15px;
    margin-bottom: 0px;
  }

  .fund-yearly-returns {
    font-size: 0.64rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.5rem;
  }

  /* Compound Returns Graph */
  #retornoAcumulado-Graph-Heading h2 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  #retornoAcumulado-Graph-Heading .content-wrapper {
    gap: 5px;
    font-size: 0.5rem;
  }

  #investment-input {
    width: 80%;
  }
}
