.mainHeader {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.mainHeader-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
  padding-right: 40px;
  padding-left: 100px;
  border-bottom: 2px solid rgb(40, 45, 73);
}

.mainHeader-container p {
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.mainHeader-container p:hover {
  color: rgb(157, 177, 223);
  background-color: rgb(31, 40, 61);
}

.mainHeader-subcontainer {
  display: flex;
  flex-direction: row;
}
