/* SideBar Styles */

/* SideBar Container Div */
#sideBar-container {
  background-color: rgba(
    18,
    24,
    38,
    0.9
  ); /* Slightly transparent version of the app's background */
  width: 250px; /* Fixed width instead of percentage */
  height: 100vh; /* Full viewport height */
  position: fixed; /* Fixed position instead of absolute */
  left: 0;
  top: 0;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  z-index: 200;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  white-space: nowrap;
  padding-top: 0px;
  border-color: 4px solid gray;
}

/* Collapsed state */
#sideBar-container.collapsed {
  width: 35px;
}

/* Expanded state */
#sideBar-container.expanded {
  width: 300px;
}

/* Hide text in collapsed state */
.collapsed .sidebar-text {
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show text in expanded state */
.expanded .sidebar-text {
  opacity: 1;
  transition: opacity 0.2s ease 0.1s; /* Slight delay for better visual effect */
}

/* Sidebar Heading Styles: logo + haku name */
#sideBar-heading-container {
  display: flex;
  align-items: center;
}

#logoHaku-sidebar {
  height: 4vh;
  border: solid white;
  border-radius: 10px;
}

#logoHaku-sidebar:hover {
  border: solid gray;
  cursor: pointer;
}

#sideBar-container p {
  color: #ffffff; /* White text for contrast */
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#sideBar-container p:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Slight highlight on hover */
  cursor: pointer;
}

#sideBar-heading-container p {
  font-size: 20px;
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

#sideBar-contacto {
  text-align: center;
  color: white;
}

#sideBar-contacto:hover {
  color: gray;
}

#sideBar-location {
  display: flex;
  align-items: center;
}

#locationFlag {
  height: 15px;
}

.sideBar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4px;
}

/* Ensure icons are always visible */
.sideBar-item svg {
  min-width: 24px; /* or whatever size your icons are */
  flex-shrink: 0; /* Prevents the icon from shrinking */
}

/* Hide asesorate buton for now */
#sideBar-asesorate {
  display: none;
}

@media (max-width: 925px) {
  #sideBar-container {
    display: none;
  }
}

@media (max-width: 350px) {
  #sideBar-container {
    width: 200px;
  }
}
