/* ETF Funds */

.etfs-p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.etfSquares-container {
  background-color: gray;
}

.etfSquares-container p {
  color: white;
}

.etfSquares-container h2 {
  color: white;
}
