/* ETF Funds */

#etfSection-heading {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

#etfSection-heading h2 {
  margin-left: 10px;
}

.etfCards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

/* Etf Cards Filters */
.etfCards-filters {
  color: white;
  display: flex;
  justify-content: center;
}

.etfCards-filters p {
  padding: 5px;
  margin: 5px;
}

.etfCards-filters p:hover {
  background-color: rgb(31, 40, 61);
  cursor: pointer;
  border-radius: 5px;
}

/* Etf Cards Filter's Dropdown Menus */
.etf-Dropdown {
  display: none;
  position: absolute;
  background-color: rgb(31, 40, 61);
  transform: translateX(-4.5%);
  border-radius: 5px;
}

.etfCards-filters p:hover .etf-Dropdown {
  display: block;
}

.etfDropdown-option {
  padding: 5%;
  border-radius: 5px;
}

.etfDropdown-option:hover {
  background-color: rgb(41, 49, 67);
}

@media screen and (max-width: 600px) {
  .etfCards-filters p {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .etfCards-filters p {
    font-size: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 350px) {
  .etfCards-filters p {
    font-size: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
