/* ETF HEADING */
#etfPage-Heading {
  display: flex;
  width: 100%;
  padding-top: 0rem;
  margin-bottom: 20px;
}

#etfPage-Heading h2 {
  color: white;
  margin-top: 0.3rem;
  margin-bottom: 0;
}

#etfPage-Heading h3 {
  font-size: 1.5em;
  margin-top: 0.3rem;
  margin-bottom: 0;
  margin-left: 20px;
}

#etfPage-Heading strong {
  color: white;
  padding-right: 1rem;
  margin-top: 0;
}

.etfPage-header__logo {
  height: 10vh;
  border: 1px solid gray;
  border-radius: 150px;
  margin-right: 10px;
}

@media screen and (max-width: 925px) {
  #etfPage-Heading h2 {
    font-size: 18px;
  }
  #etfPage-Heading h3 {
    font-size: 20px;
  }
  #etfPage-Heading strong {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  #etfPage-Heading {
    margin-bottom: 0px;
  }
  #etfPage-Heading h2 {
    font-size: 16px;
  }
  #etfPage-Heading h3 {
    font-size: 18px;
  }
  #etfPage-Heading strong {
    font-size: 12px;
  }
  .etfPage-header__logo {
    height: 9vh;
  }
}

@media screen and (max-width: 450px) {
  #etfPage-Heading h2 {
    font-size: 12px;
  }
  #etfPage-Heading h3 {
    font-size: 16px;
  }
  #etfPage-Heading strong {
    font-size: 9px;
    padding-right: 0.5rem;
  }
  .etfPage-header__logo {
    height: 9vh;
  }
}
