/* Yearly Returns Table */
.fund-performance {
  background-color: RGB(30, 36, 50);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 2.5rem;
  width: 95%;
}

.fund-performance__title {
  margin-top: 0;
  color: #4a69bd;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.fund-yearly-returns {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  font-family: "Roboto", sans-serif;
}

.fund-yearly-returns__header {
  background-color: #2e437c;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.fund-yearly-returns__cell {
  padding: 1rem;
  text-align: center;
  color: white;
}

.fund-yearly-returns__row {
  background-color: rgb(70, 78, 96);
  transition: transform 0.2s ease;
}

.fund-yearly-returns__row:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1100px) {
  /* Retornos Anuales Table */
  .fund-performance {
    width: 90%;
  }

  .fund-performance__title {
    font-size: 1.4rem;
  }

  .fund-yearly-returns {
    font-size: 0.9rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.8rem;
  }
}

/* Media Queries Small tablets */
@media screen and (max-width: 768px) {
  /* Retornos Anuales Table */
  .fund-performance {
    width: 86%;
  }

  .fund-performance h2 {
    margin-bottom: 6px;
  }

  .fund-yearly-returns {
    font-size: 0.7rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.6rem;
  }
}

/* Media Queries Phones */
@media (max-width: 600px) {
  /* Retornos Anuales Table */
  .fund-performance {
    width: 100%;
    padding: 1.5rem;
  }

  .fund-performance h2 {
    margin-bottom: 4px;
  }

  .fund-yearly-returns {
    font-size: 0.6rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.5rem;
  }
}

@media (max-width: 450px) {
  /* Retornos Anuales Table */
  .fund-performance {
    padding: 1.5rem;
  }

  .fund-performance h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }

  .fund-yearly-returns {
    font-size: 0.6rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.5rem;
  }
}

/* Media Queries VERY SMALL Phones */
@media (max-width: 370px) {
  /* Retornos Anuales Table */
  .fund-performance h2 {
    font-size: 15px;
    margin-bottom: 0px;
  }

  .fund-yearly-returns {
    font-size: 0.64rem;
  }

  .fund-yearly-returns__cell {
    padding: 0.5rem;
  }
}
