/* Fondos Mutuos Styles */
#fondosMutuos-container {
  min-height: 100vh;
  padding-top: 60px;
}

#fondosMutuos-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

#fondosMutuos-heading-controls {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#fondosMutuos-heading h2 {
  color: white;
}

.fondosMutuos-toggle-icons {
  cursor: pointer;
  margin: 1px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.fondosMutuos-toggle-icons:hover {
  background-color: rgb(31, 40, 61);
}

/* RESPONSIVE DESIGN: adjusting text, headings and icons size*/
@media screen and (max-width: 800px) {
  #fondosMutuos-container {
    padding-top: 50px;
  }

  #fondosMutuos-heading {
    margin-bottom: 15px;
  }

  #fondosMutuos-heading-controls {
    margin-right: 10px;
  }

  .fondosMutuos-toggle-icons {
    width: 20px;
    height: 20px;
    padding: 3px;
  }

  #fondosMutuos-heading h2 {
    font-size: 1.5rem;
  }
}

/* LARGE PHONES & SMALL TABLETS */
@media screen and (max-width: 600px) {
  #fondosMutuos-container {
    padding-top: 45px;
  }

  #fondosMutuos-heading {
    margin-bottom: 15px;
  }

  #fondosMutuos-heading-controls {
    margin-right: 10px;
  }

  .fondosMutuos-toggle-icons {
    width: 18px;
    height: 18px;
    padding: 2.5px;
  }

  #fondosMutuos-heading h2 {
    font-size: 1.35rem;
  }

  .fondosMutuos-toggle-icons:first-child {
    display: none;
  }

  .fondosMutuos-table-alt-container {
    display: none !important;
  }
}

/* SMALL PHONES */
@media screen and (max-width: 410px) {
  #fondosMutuos-container {
    padding-top: 55px;
  }

  #fondosMutuos-heading {
    margin-bottom: 12.5px;
  }

  #fondosMutuos-heading-controls {
    margin-right: 5px;
  }

  .fondosMutuos-toggle-icons {
    width: 15px;
    height: 15px;
    padding: 2px;
  }

  #fondosMutuos-heading h2 {
    font-size: 1rem;
  }

  .fondosMutuos-toggle-icons:first-child {
    display: none;
  }

  .fondosMutuos-table-alt-container {
    display: none !important;
  }
}
