/* Entire Container */
.fundDirectoryContainer {
  text-align: center;
  background-color: rgba(18, 24, 38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fundDirectoryContainer h2 {
  color: white;
  margin-top: 7%;
}

.filtrosContainer {
  display: flex;
  margin-top: -25px;
  margin-bottom: -5px;
}

#filtrosContainer-subcontainer {
  display: flex;
}

.filtrosContainer p {
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 10px;
  position: relative;
}

.filtrosContainer p:hover {
  background-color: rgb(31, 40, 61);
  border-radius: 5px;
}

/* Styles for the dropdown menus */
.dropdown-filter {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-48%);
  background-color: rgba(30, 36, 50);
  border-radius: 5px;
  font-size: 0.85em;
  z-index: 1;
  width: 140%;
  border: gray solid;
}

.dropdown-option {
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5px;
}

.dropdown-option:hover {
  background-color: rgb(41, 49, 67);
}

/* Filtered Heading Styles */

.filters-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

.fund-filter-reset {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -8px;
  margin-right: 30px;
}

.fund-filter-reset p {
  margin: 10px;
  color: white;
}

.fund-filter-reset button {
  height: 80%;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: 1px solid #2c405d;
  padding: 8px;
  cursor: pointer;
}

.fund-filter-reset button:hover {
  background-color: rgb(31, 40, 61);
}

/* Div for the fund square elements */
.fundExploreContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for Each Square Element */
.fundSquare {
  background-color: rgba(30, 36, 50);
  width: 25%;
  border: 10px;
  margin: 10px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.fundSquare:hover {
  background-color: rgb(41, 49, 67);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(20, 165, 255, 0.3);
}

.fundSquare h3 {
  font-size: 1.1rem;
  color: #4a69bd;
}
.fundSquare p {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  margin: 1%;
}

/* Styles for the info section */
.fundSquare-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fundSquare-data-div {
  padding: 1%;
  display: flex;
}

.fundSquare-data-div .positive {
  color: rgb(2, 186, 2);
}

.fundSquare-data-div .negative {
  color: rgb(203, 4, 4);
}

.fundSquare-data-div .green {
  color: rgb(0, 195, 0);
}

.fundSquare-data-div .green-orange {
  color: rgb(255, 217, 0);
}

.fundSquare-data-div .orange {
  color: orange;
}

.fundSquare-data-div .orange-red {
  color: rgb(255, 89, 0);
}

.fundSquare-data-div .red {
  color: red;
}

/* Media Queries for Responsive Font Sizes */
@media screen and (max-width: 1050px) {
  .fundSquare h3 {
    font-size: 0.9rem;
  }

  .fundSquare p {
    font-size: 0.7rem;
  }
}

/* TABLETS */
@media screen and (max-width: 800px) {
  /* FUND SQUARES */
  .fundExploreContainer {
    width: 100%;
  }

  .fundSquare {
    width: 38%;
  }

  .fundSquare h3 {
    font-size: 1rem;
  }

  .fundSquare p {
    font-size: 0.7rem;
  }

  /* Filtros */
  .filtrosContainer p {
    font-size: 1rem;
    margin: 5px;
    padding: 2px;
  }

  .fund-filter-reset {
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .fund-filter-reset p {
    font-size: 0.8rem;
    margin-left: 4px;
  }

  .fund-filter-reset button {
    height: auto;
    padding: 4px 6px; /* Reduce padding */
    font-size: 0.8rem;
    border-radius: 4px; /* Optionally reduce border radius */
  }
}

/* SMALL TABLETS - LARGE PHONES  */
@media screen and (max-width: 600px) {
  /* FUND FILTERS */
  .filtrosContainer p {
    padding: 2px;
    font-size: 14px;
  }

  /* FILTER RESETS */
  .fund-filter-reset {
    margin-right: 3px;
    margin-bottom: 0px;
  }

  .fund-filter-reset p {
    font-size: 0.7rem;
    margin-left: 3px;
  }

  .fund-filter-reset button {
    height: auto;
    padding: 5px 7px; /* Reduce padding */
    font-size: 0.7rem;
    border-radius: 6px; /* Optionally reduce border radius */
  }

  /* FUND SQUARES */
  .fundExploreContainer {
    width: 100%;
  }

  .fundSquare {
    width: 35%;
    margin: 8px;
  }

  .fundSquare h3 {
    font-size: 0.7rem;
  }

  .fundSquare p {
    font-size: 0.58rem;
  }
}

/* PHONES NORMAL - SMALL */
@media screen and (max-width: 421px) {
  /* FILTERS DIV */

  .filtrosContainer p {
    padding: 1px;
    font-size: 10.5px;
  }

  /* FILTER RESETS */
  .fund-filter-reset {
    margin-right: 3px;
    margin-bottom: 0px;
  }

  .fund-filter-reset p {
    font-size: 0.55rem;
    margin-left: 3px;
  }

  .fund-filter-reset button {
    height: auto;
    padding: 4px 6px; /* Reduce padding */
    font-size: 0.5rem;
    border-radius: 4px; /* Optionally reduce border radius */
  }

  /* SQUARES */
  .fundSquare {
    margin: 8px;
  }

  .fundSquare h3 {
    font-size: 0.6rem;
  }

  .fundSquare p {
    font-size: 0.4rem;
  }

  .fundSquare {
    padding: 15px;
    padding-top: 5px;
    width: 35%;
  }
}

/* PHONES VERY SMALL */
@media screen and (max-width: 350px) {
  .filtrosContainer {
    display: flex;
    flex-direction: column;
  }

  #filtrosContainer-subcontainer {
    /* this collapses the filters in two rows so that it fits in the screen */
    display: flex;
    margin-top: -4px;
  }

  .filtrosContainer p {
    padding: 0px;
    font-size: 10px;
  }

  /* Reset Filter Styles */
  .fund-filter-reset {
    margin-right: 3px;
    margin-bottom: 0px;
  }

  .fund-filter-reset p {
    font-size: 0.4rem;
    margin-left: 2px;
  }

  .fund-filter-reset button {
    height: auto;
    padding: 3px 5px; /* Reduce padding */
    font-size: 0.4rem;
    border-radius: 4px; /* Optionally reduce border radius */
  }

  /* FUND EXPLORE CONTAINER */
  .fundExploreContainer {
    flex-direction: column;
    align-items: center;
  }

  .fundSquare {
    margin: 7px;
  }

  .fundSquare h3 {
    font-size: 0.95rem;
  }

  .fundSquare p {
    font-size: 0.75rem;
  }

  .fundSquare {
    padding: 12px;
    padding-top: 3px;
    width: 80%;
  }
}

@media screen and (max-width: 295px) {
  #filtrosContainer-subcontainer {
    margin-top: -3px;
  }

  .filtrosContainer p {
    font-size: 9px;
  }

  /* Reset Filter Styles */
  .fund-filter-reset {
    margin-right: 3px;
    margin-bottom: 0px;
  }

  .fund-filter-reset p {
    font-size: 0.4rem;
    margin-left: 2px;
  }

  .fund-filter-reset button {
    height: auto;
    padding: 3px 5px; /* Reduce padding */
    font-size: 0.4rem;
    border-radius: 4px; /* Optionally reduce border radius */
  }

  /* FUND SQUARES*/
  .fundExploreContainer {
    flex-direction: column;
    align-items: center;
  }

  .fundSquare {
    margin: 5px;
  }

  .fundSquare h3 {
    font-size: 0.75rem;
  }

  .fundSquare p {
    font-size: 0.65rem;
  }

  .fundSquare {
    padding: 11px;
    padding-top: 2px;
    width: 80%;
  }
}
